<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="content">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <% end %>
  
    <nav id="links">
      <%=link_to 'Sign Up', new_user_path%> | <%=link_to 'Login', users_login_path %> <br/>
      <%= link_to 'Posts', posts_path%>
    </nav>
  
    <%= yield %>
  <div>

</body>
</html>
